<ion-content>
  <div class="userIcon">
    <ion-icon name="person-circle-outline"></ion-icon>
  </div>
  <div class="inputContainer">
    <ion-input
      type="text"
      placeholder="Correo de usuario"
      [(ngModel)]="user.email"
      mode="md"
    ></ion-input>
  </div>
  <div class="inputContainer">
    <ion-input
      type="password"
      placeholder="Contraseña"
      [(ngModel)]="user.password"
      mode="md"
    ></ion-input>
  </div>
  <div class="registerButtons">
    <ion-button
      color="dark"
      fill="outline"
      (click)="onRegister()"
      [disabled]="user.email == '' || user.password == ''"
      >Registrar</ion-button
    >
  </div>
  <div class="registerButtons">
    <ion-button color="success" fill="outline" [routerLink]="['../login']"
      >Iniciar sesión</ion-button
    >
  </div>
</ion-content>
